@font-face {
  font-family: "iconfont"; /* Project id 3708393 */
  src: url('iconfont.woff2?t=1720450687712') format('woff2'),
       url('iconfont.woff?t=1720450687712') format('woff'),
       url('iconfont.ttf?t=1720450687712') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-nginxingress:before {
  content: "\e701";
}

.icon-haproxy:before {
  content: "\e68e";
}

.icon-grafana:before {
  content: "\e7f4";
}

.icon-promethues:before {
  content: "\e7a0";
}

.icon-helm:before {
  content: "\e655";
}

.icon-openEuler:before {
  content: "\e653";
}

.icon-rocky:before {
  content: "\e6ec";
}

.icon-centos:before {
  content: "\e656";
}

.icon-ubuntu:before {
  content: "\e62f";
}

.icon-debian:before {
  content: "\e602";
}

.icon-yewuzhuangtai:before {
  content: "\e63b";
}

.icon-config:before {
  content: "\e691";
}

.icon-deploymentunitbeifen:before {
  content: "\e60a";
}

.icon-xingzhuang:before {
  content: "\e60c";
}

.icon-memory-card-one:before {
  content: "\eb1f";
}

.icon-overview:before {
  content: "\e619";
}

.icon-webshell:before {
  content: "\e7cf";
}

.icon-storage:before {
  content: "\e806";
}

.icon-setting:before {
  content: "\e78e";
}

.icon-share:before {
  content: "\e67d";
}

.icon-flowjob:before {
  content: "\e681";
}

.icon-devops:before {
  content: "\e760";
}

.icon-edit:before {
  content: "\e62c";
}

.icon-circle:before {
  content: "\e650";
}

.icon-circle-dot:before {
  content: "\e601";
}

.icon-docker:before {
  content: "\e618";
}

.icon-wenhao1:before {
  content: "\e621";
}

.icon-back:before {
  content: "\e6a9";
}

.icon-search:before {
  content: "\e64e";
}

.icon-xiazai:before {
  content: "\e63e";
}

.icon-dashboard:before {
  content: "\e78b";
}

.icon-tishi:before {
  content: "\eafe";
}

.icon-icon-refresh:before {
  content: "\e65e";
}

.icon-shanchu:before {
  content: "\e623";
}

.icon-xiala:before {
  content: "\e625";
}

.icon-yidongyunkongzhitaiicon06:before {
  content: "\e74e";
}

.icon-jiedian:before {
  content: "\e629";
}

.icon-bianji:before {
  content: "\e622";
}

.icon-acrrongqijingxiangfuwu:before {
  content: "\e6d9";
}

.icon-copy:before {
  content: "\e667";
}

.icon-terminal:before {
  content: "\ea2e";
}

.icon-diyufenbu:before {
  content: "\e603";
}

.icon-xitongfuzai:before {
  content: "\e662";
}

.icon-fuwu:before {
  content: "\e66f";
}

.icon-peizhiguanli:before {
  content: "\e628";
}

.icon-zhongyingwenqiehuan-yingwen:before {
  content: "\e616";
}

.icon-zhongyingwenqiehuan-zhongwen:before {
  content: "\e617";
}

