@font-face {
  font-family: "iconfont"; /* Project id 3708393 */
  src: url('iconfont.woff2?t=1706944985444') format('woff2'),
       url('iconfont.woff?t=1706944985444') format('woff'),
       url('iconfont.ttf?t=1706944985444') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-wenhao:before {
  content: "\e647";
}

.icon-gantanhao:before {
  content: "\e614";
}

.icon-back:before {
  content: "\e6a9";
}

.icon-search:before {
  content: "\e64e";
}

.icon-xiazai:before {
  content: "\e63e";
}

.icon-dashboard:before {
  content: "\e78b";
}

.icon-tishi:before {
  content: "\eafe";
}

.icon-icon-refresh:before {
  content: "\e65e";
}

.icon-shanchu:before {
  content: "\e623";
}

.icon-xiala:before {
  content: "\e625";
}

.icon-yidongyunkongzhitaiicon06:before {
  content: "\e74e";
}

.icon-jiedian:before {
  content: "\e629";
}

.icon-bianji:before {
  content: "\e622";
}

.icon-acrrongqijingxiangfuwu:before {
  content: "\e6d9";
}

.icon-copy:before {
  content: "\e667";
}

.icon-terminal:before {
  content: "\ea2e";
}

.icon-diyufenbu:before {
  content: "\e603";
}

.icon-xitongfuzai:before {
  content: "\e662";
}

.icon-fuwu:before {
  content: "\e66f";
}

.icon-peizhiguanli:before {
  content: "\e628";
}

.icon-zhongyingwenqiehuan-yingwen:before {
  content: "\e616";
}

.icon-zhongyingwenqiehuan-zhongwen:before {
  content: "\e617";
}

