#app {
  height: 100vh;
}

* {
  margin: 0;
  padding: 0;
}

/* 通用创建按钮 */
.pixiu-button {
  height: 35px;
  width: 115px;
  border-radius: 0%;
  color: white;
  border: none;
  background-color: #006eff;
  cursor: pointer;
}

/* 2个字的创建样式 */
.pixiu-two-button {
  height: 31px;
  min-width: 25px;
  width: 68px;
  border-radius: 0%;
  font-size: 12px;
  color: #fff;
  text-align: center;
  border: none;
  background-color: #006eff;
  cursor: pointer;
}

.pixiu-two-button2 {
  height: 31px;
  min-width: 25px;
  width: 68px;
  border-radius: 0%;
  font-size: 12px;
  border: 1px solid #cfd5de;
  color: #0366e7;
  background-color: white;
  cursor: pointer;
}

.pixiu-two-button3 {
  height: 31px;
  min-width: 25px;
  width: 68px;
  border-radius: 0%;
  font-size: 12px;
  color: #fff;
  text-align: center;
  border: none;
  background-color: #006eff;
  cursor: pointer;
  width: 85px;
}

.pixiu-two-button4 {
  height: 31px;
  min-width: 25px;
  width: 68px;
  border-radius: 0%;
  font-size: 12px;
  border: 1px solid #cfd5de;
  color: #0366e7;
  background-color: white;
  cursor: pointer;
  width: 85px;
}

/* 通用确认按钮 */
.pixiu-confirm-button {
  height: 35px;
  width: 90px;
  border-radius: 0%;
  color: white;
  border: none;
  background-color: #006eff;
  cursor: pointer;
}

/* 通用取消按钮 */
.pixiu-cancel-button {
  height: 35px;
  width: 90px;
  border-radius: 0%;
  border: 1px solid #cfd5de;
  color: #006eff;
  background-color: white;
  cursor: pointer;
}

/* 小号确认按钮 */
.pixiu-small-confirm-button {
  height: 35px;
  width: 80px;
  border-radius: 0%;
  color: white;
  border: none;
  background-color: #006eff;
  cursor: pointer;
}

/* 小号取消按钮 */
.pixiu-small-cancel-button {
  height: 35px;
  width: 80px;
  border-radius: 0%;
  border: 1px solid #cfd5de;
  color: #006eff;
  background-color: white;
  cursor: pointer;
}

/* 小号确认按钮 */
.pixiu-delete-confirm-button {
  height: 34px;
  width: 80px;
  border-radius: 0%;
  color: white;
  border: none;
  background-color: #006eff;
  cursor: pointer;
}

/* 小号取消按钮 */
.pixiu-delete-cancel-button {
  height: 34px;
  width: 80px;
  border-radius: 0%;
  border: 1px solid #cfd5de;
  color: #006eff;
  background-color: white;
  cursor: pointer;
}

/* 通用注释说明样式 */
.app-pixiu-describe {
  margin-left: 140px;
  font-size: 12px;
  color: #888888;
}

.pixiu-describe {
  font-size: 12px;
  color: #888888;
}
.app-pixiu-line-describe2 {
  margin-left: 2px;
  font-size: 12px;
  color: #888888;
}

/* 通用字体颜色 */
.app-word-color {
  color: #006eff;
}

/* 列表内嵌样式 */
.table-inline-word {
  text-align: center;
  font-size: 12px;
  color: #29292b;
}

.table-inline-btn {
  border: none;
  color: #006eff;
  font-size: 12px;
  background-color: #fff;
  cursor: pointer;
}

/* 下拉按钮样式 */
.el-dropdown-link {
  cursor: pointer;
  color: #006eff;
  display: flex;
  font-size: 12px;
  margin-top: 6.5px;
  font-family: Arial;
  font-weight: 500;
}

.cluster-dropdown {
  cursor: pointer;
  color: #006eff;
  display: flex;
  font-size: 12px;
  margin-top: 7px;
  font-weight: 500;
}

/* 下拉后的按钮样式 */
.dropdown-buttons {
  display: block;
  /* display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start; */
}

.dropdown-item-buttons {
  color: #191919;
  font-size: 12px;
}

/* 表格表头样式 */
.pixiu-table-header {
  color: #595959;
  font-size: 12px;
}

/* 表格内容 */
.pixiu-table-formatter {
  font-size: 12px;
  color: #29292b;
}

/* 表单内通用按钮样式 */
.app-action-btn {
  color: #006eff;
  font-size: 12px;
}

/* 全局输入框直角样式 */
.el-input__wrapper {
  border-radius: 0px;
}

/* 标题卡片 */
.title-card-container {
  height: 50px;
  margin-top: -20px;
  margin-left: -20px;
  margin-right: -20px;
  border-radius: 0px;
}

/* 标题卡片 */
.title-card-container2 {
  height: 65px;
  margin-top: -20px;
  margin-left: -20px;
  margin-right: -20px;
  border-radius: 0px;
  background-color: #fff;
  display: flex;
  padding: 0;
  align-items: center;
  box-shadow: var(--el-box-shadow-light);
}

.detail-card-container {
  margin-top: 2px;
  min-height: 98%;
}

.contend-card-container {
  margin-top: -20px;
  margin-left: -20px;
  margin-right: -20px;
  border-radius: 0px;
  height: 100px;
}

.contend-card-container2 {
  margin-top: 20px;
  border-radius: 0px;
}

.contend-card-container3 {
  margin-top: 10px;
  border-radius: 0px;
  width: 50%;
}

.contend-card-container4 {
  margin-top: 20px;
  border-radius: 0px;
  margin-left: 50px;
  margin-right: 50px;
}

.contend-card-container5 {
  margin-top: 20px;
  border-radius: 0px;
  width: 25%;
  height: 30%;
}

/* 全局详情 */
.glabal-detail-card {
  height: 120%;
  margin-top: -20px;
  margin-left: -20px;
  margin-right: -20px;
  border-radius: 0px;
}

/* 全局表格的名称 */
.global-table-world {
  color: #006eff;
  font-size: 12.5px;
}

.name-text-line :hover {
  text-decoration: underline;
}

.font-container {
  margin-top: -5px;
  font-weight: bold;
  font-size: 16px;
  vertical-align: middle;
}

.font-container2 {
  padding: 0px 20px;
  font-weight: bold;
  font-size: 16px;
  vertical-align: middle;
}

/* 绿色状态字体 */
.color-green-word {
  color: #28c65a;
}

/* 红色状态字体 */
.color-red-word {
  color: #c62828;
}

/* 灰色状态字体 */
.color-gray-word {
  color: #7b7b7b;
}

/* 告警状态字体 */
.color-yellow-word {
  color: #e6a23c;
}

/* 蓝色状态字体 */
.color-blue-word {
  color: #006eff;
}

.app-pixiu-line-describe4 {
  margin-left: 100px;
  margin-top: -35px;
  font-size: 12px;
  color: #888888;
}

.one-line-style {
  display: flex;
}

.hidden-style {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.breadcrumb-style {
  color: black;
}

.breadcrumb-create-style {
  color: black;
  font-weight: bold;
}

/* 字体加粗 */
.big-world-style {
  color: black;
  font-size: 17px;
  font-weight: bold;
  margin-bottom: 20px;
  margin-top: 10px;
  margin-left: 8px;
}

.el-radio-button__original-radio:checked + .el-radio-button__inner {
  color: #006eff;
  border-color: #006eff;
  background-color: #fff;
}

/* 隐藏样式 */
.pixiu-ellipsis-style {
  font-size: 12px;
  color: #29292b;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.detail-head-style {
  margin-top: 1px;
  margin-bottom: -32px;
}

.detail-tab-style {
  color: #909399;
  font-size: 13px;
  margin-left: 8px;
}

.detail-base-info-style {
  font-size: 13px;
  color: #29232b;
}

/* 创建页面卡片通用样式 */
.create-card-style {
  margin-top: 28px;
  margin-left: 20px;
  width: 95%;
  border-radius: 0px;
}

/* 新建页面卡片通用样式 */
.create-card-form {
  margin-left: 3%;
  width: 100%;
}

.app-pixiu-content-card {
  display: flex;
  justify-content: space-around;
}

.el-switch {
  --el-switch-on-color: #3377ff;
  --el-switch-off-color: var(--el-border-color);
}

/* 将第一个和最后一个元素的圆角变成0 */
.create-card-style .el-radio-button:first-child .el-radio-button__inner {
  border-radius: 0;
}
.create-card-style .el-radio-button:last-child .el-radio-button__inner {
  border-radius: 0;
}
.create-card-style .labels-item-style {
  display: flex;
  margin-top: 15px;
}

/* 输入框 placeholder 样式 */
.el-input__inner::placeholder {
  font-size: 12px;
}

/* 成对出现 */
.detail-card-style-header {
  flex-direction: column;
  height: 96.5px;
}

/* 100vh 减去标题和最上面的高度 115px */
.detail-card-style-body {
  background-color: #f3f4f7;
  /* background: #fff; */
  height: calc(100vh - 170px);
}

.detail-card-style {
  margin-top: 20px;
  margin-left: 30px;
}

.detail-card-style-form {
  color: #909399;
  font-size: 13px;
  margin-left: 8px;
}

.detail-card-key-style {
  margin-left: 10px;
  font-size: 13px;
  color: #191919;
}

.detail-card-value-style {
  font-size: 13px;
  color: #29232b;
  margin-left: 30px;
}

.detail-card-style-form2 {
  font-size: 13px;
  color: #29232b;
}

.detail-card-new-style {
  margin-top: 20px;
}

.select-no-arrow i {
  display: none !important;
}

.select-no-arrow .el-select__wrapper {
  box-shadow: 0 0 0 1px #fff inset !important;
}

.select-no-arrow .el-input__wrapper {
  box-shadow: 0 0 0 1px #fff inset !important;
}

.input-select-style .el-select .el-input.is-focus .el-input__wrapper {
  box-shadow: 0 0 0 1px #fff inset !important;
  border: none;
}

.input-select-style .el-select .el-input__wrapper.is-focus {
  box-shadow: 0 0 0 1px #fff inset !important;
  border: none;
}

.select-no-arrow .el-select__wrapper.is-hovering:not(.is-focused) {
  box-shadow: 0 0 0 1px #fff inset !important;
}

.select-no-arrow .el-input__wrapper.is-hovering:not(.is-focused) {
  box-shadow: 0 0 0 1px #fff inset !important;
}

.detail-docs {
  height: 40px;
  width: 100%;
  font-size: 12px;
  line-height: inherit;
  padding: 14px 20px;
  vertical-align: middle;
  color: #002da0;
  border: 1px solid #d5e7ff;
  border-radius: 0;
  background: #d5e7ff;
  position: relative;
  box-sizing: border-box;
  margin-left: 8px;
  margin-right: auto;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.namespace-select-container {
  flex: 1;
}

.table-item-left1-buttom {
  margin-right: -25px;
  margin-left: -10px;
  color: #006eff;
}

.table-item-left2-buttom {
  margin-right: -2px;
  color: #006eff;
}

.dialog-header-style {
  text-align: left;
  font-weight: bold;
  padding-left: 0px;
  margin-top: 5px;
  font-size: 14.5px;
  color: #191919;
}

.dialog-label-key-style {
  font-size: 13px;
  color: #191919;
}

.dialog-label-value-style {
  font-size: 13px;
}

.form-item-key-style {
  margin-left: 8px;
  font-size: 13px;
  color: #191919;
}

.form-change-key-style {
  font-size: 13px;
  color: #191919;
}

.form-input-key-style {
  margin-left: 8px;
  font-size: 12px;
  color: #191919;
}

.dialog-describe-style {
  margin-left: 9px;
  margin-top: -20px;
  font-size: 12.5px;
  color: #888888;
}
