#app {
  height: 100vh;
}

* {
  margin: 0;
  padding: 0;
}

*/* 通用创建按钮 */
.pixiu-button {
  height: 35px;
  width: 115px;
  border-radius: 0%;
  color: white;
  border: none;
  background-color: #006eff;
  cursor: pointer;
}

/* 通用确认按钮 */
.pixiu-confirm-button {
  height: 35px;
  width: 90px;
  border-radius: 0%;
  color: white;
  border: none;
  background-color: #006eff;
  cursor: pointer;
}

/* 通用取消按钮 */
.pixiu-cancel-button {
  height: 35px;
  width: 90px;
  border-radius: 0%;
  border: 1px solid #cfd5de;
  color: #006eff;
  background-color: white;
  cursor: pointer;
}

/* 通用注释说明样式 */
.app-pixiu-describe {
  margin-left: 120px;
  font-size: 12px;
  color: #888888;
}

/* 通用字体颜色 */
.app-word-color {
  color: #006eff;
}
